<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>graphics-ts</title>
  </head>
  <body>
    <div id="root"></div>
    <canvas id="canvas1" width="600" height="600" style="border: 1px solid black;"></canvas>
    <canvas id="canvas2" width="600" height="600" style="border: 1px solid black;"></canvas>
  </body>
</html>
